<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <!-- <a class="extra" href="/">首页</a>
              <a class="extra" href="/http-push.html">数据推送</a> -->
              <!-- <a class="extra" href="/form.html">获取表单定义</a>
              <a class="extra" href="/post-entry.html">提交数据</a> -->
            </div>

            <div class="content">
              {{ content }}
              <div class="side">
                <ul>
                  <li><a href="/">概述</a></li>
                  <li><a href="/auth.html">API访问</a></li>
                  <li><a href="/expanded-attribute.html">扩展属性</a></li>
                </ul>

                <h3>API列表</h3>
                <ul>
                  <li><a href="/http-push.html">数据推送API</a></li>
                  <li><a href="/form-api.html">表单API</a></li>
                  <li><a href="/entry-api.html">数据API</a></li>
                </ul>
              </div>
            </div>

            <div class="footer">
              <div class="contact">
                <p>
                  <a href="https://jinshuju.net/" target="_blank">金数据</a>
                  <a href="http://bbs.jinshuju.net/categories/integrations" target="_blank">论坛</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
